
.flexbox {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;
}
div.customize {
  margin: 0px auto;
}
#color-button {
    margin-left: 20px;
}
input {
  margin-top: 20px;
}
button#color-button {
  white-space: nowrap;
}

/* @media only screen and (max-width: 425px) {
  flex-direction: ;
} */
/*
@media only screen and (max-width: 400px) {
  button#color-button {
    padding: 0px;
  }
  input {
    margin-right: 50px;
  }
}
@media only screen and (max-height: 649px) {
  button#color-button {
    margin-top: 20px;
    margin-left: 0px;
  }
  input {
    margin-right: 50px;
  }
} 
@media only screen and (max-height: 500px) {
  button#color-button {
    margin-top: 20px;
    padding: 0px;
    margin-left: 0px;
  }

}
@media only screen and (max-height: 400px) {
  input {
    margin-right: 20px;
  }
}
@media only screen and (max-height: 300px) {
  .customize {
    margin-top: 15%;
    width: 132%;
  }
} */